.modalOverlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: #2F2F2FBF;
  z-index: 1000; 
}

.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 43%;
  height: 33%;
  z-index: 30;
  border-radius: 6px;
  padding: 20px 28px 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  letter-spacing: 2px;
  font-weight: 500;
}

.modalHeader {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 1.7rem ;
}

.groupName {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;

  .groupNameContainer {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 20px;
  
    label {
      margin-right: 2em;
    }
  
    input {
      width: 60%;
      padding: 11px 11px 11px 20px;
      font-size: 1.3rem;
      letter-spacing: 1px;
      font-weight: 400;
      border: 2px solid #CCCCCC;
      border-radius: 20px;
      color: #979797;
    }
  }

  .error {
    color: red;
    font-size: 1rem;
    height: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    p {
      margin-right: 30px;
    }
    margin-top: 10px;
  }
  
}



.colorPicker {
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-size: 1.5rem;
}

.colorHeading {
  padding-right: 1.4em;
}

.colorOptions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;

  .colorPalet &:hover {
    border-color: black;
  }
}

.colorPalet {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
  border: none;

 
}

.createGroupBtn {
  width: 100%;
  display: flex;
  justify-content: end;
  

  button {
    width: 24%;
    padding: 9px;
    background: #001F8B;
    border: none;
    border-radius: 11px;
    color: #FFFFFF;
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-weight: 500;
  }
}












/* Media Queries here */

@media (min-width: 320px) and (max-width: 430px) and (min-height: 660px) and (max-height: 932px){
  .modalContent {
    width: 75%;
    height: auto;
    padding: 10px 8px 20px 13px;
    font-weight: 500;
  }

  .modalHeader {
    font-size: 1.2rem;
    letter-spacing: 0.5px;
  }

  .groupName {
    font-size: 0.85rem;
    letter-spacing: 0.3px;
    .groupNameContainer {
      margin-top: 20px;
  
      label {
        margin-right: 9px;
      }
  
      input {
        width: 50%;
        padding: 5px 5px 5px 10px;
        font-size: 0.8rem;
        letter-spacing: 0.5px;
        font-weight: 550;
        border: 2px solid #CCCCCC;
        border-radius: 20px;
        color: #979797;

        &::placeholder {
          font-weight: 400; 
          letter-spacing: 0.5px;
          font-size: 0.65rem;
          color: #979797;
        }
      }
    }

    .error {
      font-size: 0.6rem;
      height: 10px;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
  
      p {
        margin-right: 10px;
      }
      margin-top: 5px;
    }
  }

  .colorPicker {
    font-size: 0.9rem;
    letter-spacing: 0.3px;
    margin-top: 5px;
  }

  .colorHeading {
    padding-right: 0.4em;
  }

  .colorOptions {
    width: 55%;
    .colorPalet {
      width: 1rem;
      height: 1rem;
    }
  }

  .createGroupBtn {
    justify-content: center;
    button {
      letter-spacing: 0.5px;
      border-radius: 8px;
      width: 60%;
      padding: 5px;
      font-size: 1rem;
      margin-top: 20px;
    }
  }
}