.app {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  height: 100dvh;
}

/* Global styles for mobile responsiveness */
@media (min-width: 320px) and (max-width: 430px) and (min-height: 660px) and (max-height: 932px){
  .app {
    display: flex;
    flex-direction: column;
    min-height: var(--app-height);
  }
}
